*{
    margin: 0;
}


body{
    background-color: #f8f1e9;
}


header{
    background-color: #9c9ce3;
    font-family: 'Prompt', sans-serif;
    padding: 30px 0;
    text-align: center;
}

footer{
    position: absolute;
    text-align: center;
    bottom: 0; 
    width: 100%;
    color: lightgray;
    height: 2rem;   
}

.big-box{
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

.container{
    margin: 40px auto;
    float: left;
    position: relative;
    width: 90%;
}

.note{ 
    position: relative;  
    margin: 15px;
    width: 300px;
    border: 3px solid #595b87;
    border-radius: 10px;
    float: left;
    font-family: 'Prompt', sans-serif;

}
.note h2{
    color: #595b87;
    padding: 3px;
    outline: none;
}
.note p{
    word-wrap: break-word;
    outline: none;
    padding: 3px;
    white-space: pre-wrap;
}

.note button{
    position: absolute;
    right: 11px;
    bottom: -20px;
    font-size: 12px;
    background: #595b87;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;


}

form{
    position: relative;
    width: 480px;
    margin: 30px auto 5px auto;
    background: #f7f5f2;
    padding: 5px;
}

textarea::-webkit-scrollbar{
    display: none;
}

form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.1em;
  font-family: 'Prompt', sans-serif;
  resize: none;
  background-color: #f7f5f2;
  overflow: auto;
}

form button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #595b87;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  }